<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Locales de repuestos</title>
  </head>
  <body>
  <div style="margin: 10px">

    <a href="/locales_repuestos">locales_repuestos</a>
    <a href="/barrios">barrios</a>
    <a href="/">locales_comida</a>
    <a href="/personas">personas</a>
  </div>
    <h5>Listado de Locales de repuestos </h5>

    {% for e in data %}

    <ol>
      <li><b>direccion: </b>{{e['direccion']}}</li>
      <li><b>valor_mecaderia: </b>{{e['valor_mecaderia']}}</li>
      <li><b>comida_tipo: </b>{{e['comida_tipo']}}</li>
      <li><b>ventas_proyectadas: </b>{{e['ventas_proyectadas']}}</li>
      <li><b>permiso: </b>{{e['permiso_pago']}}</li>
      <li><b>propietario: </b>{{e['propietario']}}</li>
      <li><b>barrio: </b>{{e['barrio']}}</li>
    </ol>
    <hr>
    {% endfor%}
  </body>
</html>
