{% extends 'core/index.html' %}

{% block title %}Lista Locales de Repuestos{% endblock %}
{% block description %}Mostar una lista de locales de Repuestos registrado en el sistema{% endblock %}


{% block content %}


<div class="table-responsive-sm">

<table id="tabla_datos" class="table">

    <thead>
    <tr>
        <td>Propietario</td>
        <td>Direccion</td>
        <td>Barrio</td>
        <td>Comida tipo</td>
        <td>Ventas proyectadas</td>
        <td>Permiso</td>
        <td>Opciones</td>
    </tr>
    </thead>

    {% for i in object_list %}
    <tr>

        <td>{{i.propietario.nombres}} {{i.propietario.apellidos}}</td>
        <td>{{i.direccion}}</td>
        <td>{{i.barrio.nombre}}</td>
        <td>{{i.comida_tipo}}</td>
        <td>{{i.ventas_proyectadas}}</td>
        <td>{{i.permiso_pago}}</td>


        <td>
            {% if perms.locales.change_localrepuestos %}
            <a  class="btn btn-secondary" href="{% url 'editar-locales-repuestos' i.id %}">Editar</a>
            <a class="btn btn-secondary" href="{% url 'eliminar_local_repuestos' i.id %}"
               onclick="return confirm('¿Está seguro de la eliminación?')">
                Eliminar</a>
        {% else %}
            No tiene permisos
        {% endif %}
        </td>

    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
